body {
  background-color: bisque;
}
/* Body */
.textArea{
  height: 40vh;
  width: 100%;
  border-radius: 8px;
  border: 2px solid yellow;
  padding: 5px;
}
.textArea:focus{
  border: 5px solid yellow;
}